img {
  width: 300px;
}

.project-title {
  font-size: 2rem;
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.8rem;
  padding-right: 2.8rem;
  display: flex;
  justify-content: center;
}

.desc {
  font-size: 1rem;
}

.flex-item {
  display: flex;
  flex-direction: column-reverse;
}

.project-container img {
  width: 100%;
  height: auto;
  align-self: center;
  justify-self: center;
  margin-bottom: 2rem;
}

.project-container p {
  width: 100%;
  align-self: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  line-height: 25px;
}
.buttons {
  display: inline;
}
.code-button {
  margin-bottom: 1.5rem;
  margin-left: 0.5rem;
  opacity: 1;
  border-width: 2px;
  border: 1px solid #ccd6f6;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.code-button:hover {
  background-color: palevioletred;
  transition: 1s;
}

@media (min-width: 768px) {
  .project-container {
    flex-direction: column;
  }
  .project-container img {
    width: 40%;
  }
  .project-container p {
    /* width: 30%; */
    margin-right: auto;
    width: 80%;
  }

  .flex-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
    opacity: 2;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }
}
